<div class="banner" style="background-color: black; )">
  <div class="container">
    <h1 class = "text-center mb-3">Come on in, and stay a while</h1>
    <p class = "text-center" style = "color:red;">Sinfully delicious... </p>
   </div>
</div>
