
<%=  render 'banner' %>

<div class = "drink-grid">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width:400px;width:300px">
      <% if cocktail.photo.present? %>
        <%= cl_image_tag cocktail.photo, height:300, width:300   %>
      <% else %>
        <%= image_tag "default_photo.jpeg", height:300, width:300 %>
      <% end %>
      <div class="card-body">
        <div class= "card-background ">
          <h4 class="card-title text-center"><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%#= link_to "Create a cocktail", new_cocktail_path %>





