<nav class="navbar navbar-lewagon navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", root_path, class: "navbar-brand" %>

  <h2 id = "bar-name"> The Cocky Vagabond</h2>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-brand" %>
      </li>
    </ul>
  </div>
</nav>
